%div.chatroom__main__box
  %div.chatroom__main__info.flex
    %div.chatroom__main__messanger
      hiroaki
    %div.chatroom__main__info__dates
      2019/02/14(Thu) 15:12:19
  %div.chatroom__main__message
    さよなら！