!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    %div.flex
      %div.sidebar
        %div.sidebar__header.flex
          %div hiroaki
          %div
            =link_to "https://chat-space-sample.herokuapp.com/groups/new" do
              %i.fa.fa-edit
            =link_to "https://chat-space-sample.herokuapp.com/users/114/edit" do
              %i.fa.fa-cog
          
       
        = render partial: 'sidebar/item'

      %div.chatroom
        %div.chatroom__header.flex
          %div
            %div テックエキスパート
            %div Member : hiroaki
          
          =link_to "https://chat-space-sample.herokuapp.com/groups/205/edit" do
            %div.chatroom__header__edit-btn
              %div Edit
        
        %div.chatroom__main
          =render partial: 'messages/message'

        %div.chatroom__form.flex
          %div.chatroom__form__input-box.flex
            %input.chatroom__form__input-box__text{placeholder: "type a message"}
            %label.chatroom__form__input-box__image
              %input{type:"file"}
              %i.fa.fa-image
          %input.chatroom__form__send-btn{type: "submit", value: "Send" }
            
            
          %div.chatroom__form__submit-btn



